{
  "extends": "react-app",
  "rules": {
    "jsx-a11y/href-no-hash":0,
    "jsx-a11y/alt-text":0,
    "jsx-a11y/anchor-has-content":0,
    "no-script-url":0,
    "eqeqeq":0,
    "no-useless-constructor":0,
    "react/jsx-no-target-blank":0,
    "react/no-danger-with-children":0,
    "import/no-webpack-loader-syntax":0
  }
}