//组件样式
.m-info{
	.cover{
		float: left;
    position: relative;
    display: inline;
    margin: 0 -220px 0 0;
	}
	.cnt{
		float: right;
    width: 100%;
	}
	.cntc{
		margin-left: 230px;
	}
	.hd{
		position: relative;
    margin: 0 0 12px;
    line-height: 24px;
    h2{
      line-height: 24px;
      font-size: 20px;
      font-weight: normal;
    }
	}
	.tit{
		margin-left: 64px;
    position: relative;
	}
  .user{
    margin: 0 0 20px;
    line-height: 35px;
    .name{
      float: left;
    }
    .time{
      margin-left: 15px;
    }
    .u-icn{
      float: left;
      margin: 9px 0 0 3px;
    }
  }
  .face,.face img{
    float: left;
    width: 35px;
    height: 35px;
  }
  .face{
    margin-right: 10px;
  }
  .btns{
    margin-bottom: 25px;
    margin-right: -10px;
    .u-btni{
      margin-right: 6px;
      font-family: simsun,\5b8b\4f53;
    }
    .u-btni-add{
      margin-right: 5px;
    }
  }
  .tags{
    margin: 25px 0 5px;
    line-height: 22px;
    b{
      float: left;
    }
    .u-tag{
      float: left;
      margin: 0px 10px 3px 0;
    }
  }
  b{
    font-weight: normal;
    color: #666;
  }
  .intr{
    margin-top: 4px;
    line-height: 18px;
    color: #666;
    b{
      display: inline-block;
    }
  }
}

.m-table{
  th,td,.wp,.ply,.mv,.icn{
    background: url(../img/table.png) no-repeat 0 9999px;
  }
}
.m-table{
  width: 100%;
  border: 1px solid #d9d9d9;
  th{
    height: 38px;
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    color: #666;
    background-color: #f7f7f7;
    background-position: 0 0;
    background-repeat: repeat-x;
    &.first{
      .wp{
        background: none;
      }
    }
    .wp{
      height: 34px;
      line-height: 18px;
      padding: 8px 10px;
      background-position: 0 -56px;
    }
  }
  .w1{
    width: 74px;
  }
  .w2{
    width: 111px;
  }
  .w2-1{
    width: 91px;
  }
  .w3{
    width: 14%;
  }
  .w4{
    width: 20%;
  }
  .even td{
    background-color: #f7f7f7;
  }
  .ply{
    float: left;
    width: 17px;
    height: 17px;
    cursor: pointer;
    background-position: 0 -103px;
    &:hover{
      background-position: 0 -128px;
    }
  }
  .hd{
    height: 18px;
    .ply{
      float: right;
    }
  }
  td{
    padding: 6px 10px;
    line-height: 18px;
    text-align: left;
  }
  .tt{
    float: left;
    width: 100%;
    .ply{
      margin-right: 8px;
    }
  }
  .ttc{
    height: 18px;
    margin-right: 20px;
  }
  .txt{
    position: relative;
    display: inline-block;
    padding-right: 25px;
    margin-right: -25px;
    max-width: 99%;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  b{
    font-weight: normal;
  }
  .opt{
    float: left;
  }
  .hshow{
    display: none;
  }
  .u-icn-81{
    float: left;
    margin-top: 2px;
  }
  .icn,.mv{
    float: left;
    width: 18px;
    height: 16px;
    margin: 2px 0 0 4px;
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;
  }
  .icn-fav{
    background-position: 0 -174px;
    &:hover{ 
      background-position: -20px -174px;
    }
  }
  .icn-share{
    background-position: 0 -195px;
    &:hover{
      background-position: -20px -195px;
    }
  }
  .icn-dl{
    background-position: -81px -174px;
    &:hover{
      background-position: -104px -174px;
    }
  }
  tr:hover{
    .hshow{
      display: block;
      position: relative;
      margin-right: -10px;
    }
    .u-dur{
      display: none;
    }
  }
  .text{
    width: 100%;
    position: relative;
    zoom: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a{
      white-space: nowrap;
    }
  }
  .mv{
    width: 23px;
    height: 17px;
    margin: 1px 0 0 0;
    background-position: 0 -151px;
  }
  .mv,.icnfix{
    position: absolute;
    top: 0;
    right: 0;
  }
}